<div class="content">
  <div class="navbar"></div>
  <div class="container">
    <h3 class="title">Anamnézis mezők</h3>
    <div class="notificationBox">
      <img
        src="assets/icons/help_black_24dp.svg"
        alt="help logo"
        class="helpLogo"
      />
      <p class="helpDescription">
        Itt tudod szerkeszteni a páciens egészségügyi anamnézis mezőket. Lorem
        ipsum dolor sit amet.
        <br />
        <a href="/" class="link"> Nézd meg videónkat és leírást itt </a>
      </p>
    </div>
    <p class="altTitle">Anamnézis űrlap</p>
    <p class="description">
      Ez az űrlap lesz a páciens számára is elérhető majd a Páciens Portál
      modul-ban. Hamarosan érkezik! Így a páciens már akár otthonról, vagy a
      rendelőben egy tabletről is kitöltheti az adatait, ezáltal lényegesen
      csökkentve az adminisztrációs terheket és a hiba lehetőséget a rendelőben.
    </p>
    <app-anamnezis-list></app-anamnezis-list>
  </div>
</div>
