@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// colors
$primary-color: #212b36;
$secondary-color: #32475c;
$btnBlue-color: #6270c6;
